<section class="availablePro">
    <div class="content">
        <div class="header">
            <span>Profesionales a disposición 24/7</span>
            <hr class="underHeader" />
        </div>
        <section class="availableBackup">
            <img src="/assets/images/home/availablePro/Icon material-settings-backup-restore.png"
                alt="Backup and Restore"
                srcset="/assets/images/home/availablePro/Icon material-settings-backup-restore@2x.png 2x">
            <h3>Backup y Recovery</h3>
            <p>Nos encargamos de hacer backup y recovery de instancias de bases de datos. Planificamos estrategias de
                backup acorde a las cargas de trabajo que tengan las mismas.</p>
        </section>
        <section class="availableIdentity">
            <img src="/assets/images/home/availablePro/Icon awesome-user-secret.png" alt="Backup and Restore"
                srcset="/assets/images/home/availablePro/Icon awesome-user-secret@2x.png 2x">
            <h3>Control de identidad y acceso</h3>
            <p>Hacemos relevamiento y seguimiento de quienes pueden y como pueden acceder sus usuarios a sus datos.</p>
        </section>
        <section class="availableHA">
            <img src="/assets/images/home/availablePro/HA Icon.png" alt="Backup and Restore"
                srcset="/assets/images/home/availablePro/HA Icon@2x.png 2x">
            <h3>Sistemas de alta disponibilidad</h3>
            <p>Enfrente cualquier demanda de carga y cualquier imprevisto con una sólida arquitectura de alta
                disponibilidad. Nosotros planificamos e implementamos acorde a sus necesidades.</p>
        </section>
    </div>
</section>