<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="container">
    <div class="row">
        <h2 class="h3">{{ site.title | escape }}</h2>
    </div>
    <div class="row justify-content-center">
      <div class="col-4">
        <ul class="contact-list">
          <li class="p-name">
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- else -%}
              {{ site.title | escape }}
            {%- endif -%}
            </li>
            {%- if site.email -%}
            <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {%- endif -%}
        </ul>
      </div>

      <div class="col-4">
        {%- include social.html -%}
      </div>

      <div class="col-4">
        <p>{{- site.description | escape -}}</p>
      </div>
    </div>

  </div>

  <script src="{{ "/assets/js/jquery-3.4.1.min.js" | relative_url }}"></script>
  <script src="{{ "/assets/js/bootstrap.js" | relative_url }}"></script>

</footer>
