<div class="content">
    <div class="header">
        <span>Contáctenos</span>
        <hr class="underHeader">
    </div>
    <form action="https://usebasin.com/f/738d76d57771" method="POST">
        <label for="nombre" class="contactFormnombre">
            <span>Nombre</span>
            <input type="text" name="nombre" id="nombre">
        </label>
        <label for="email" class="contactFormemail">
            <span>E-Mail</span>
            <input type="email" name="email" id="email">
        </label>
        <label for="telefono" class="contactFormtelefono">
            <span>Teléfono</span>
            <input type="tel" name="telefono" id="telefono">
        </label>
        <label for="content" class="contactFormmensaje">
            <span>Mensaje</span>
            <textarea name="content" id="mensaje" cols="30" rows="10"></textarea>
        </label>
        <label for="enviar" class="contactFormenviar">
            <input type="submit" name="enviar" value="Enviar" id="inputSubmit">
        </label>
    </form>
    <img src="/assets/images/contactus/contactus.png" alt="Contáctenos"
        srcset="/assets/images/contactus/contactus@2x.png 2x">
</div>